# ==============================================================================
# Archivos y carpetas ignorados por Git
# ==============================================================================

# Compilacion Java & Maven
target/
*.class
dependency-reduced-pom.xml

# Base de datos SQLite temporales
*.db-journal
*.db-wal
*.db-shm

# Node.js & Dependencias Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales y de registro
*.log
*.tmp
*.bak
temp*

# Configuraciones de IDEs y Editores
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Archivos de sistema operativo
.DS_Store
Thumbs.db
desktop.ini
